{
	email {$ACME_EMAIL}
	admin off
}

{$SITE_ADDRESS} {
	encode zstd gzip
	header -Server
	reverse_proxy app:5000 {
		health_uri /health
		health_interval 30s
		health_timeout 3s
		transport http {
			dial_timeout 3s
			response_header_timeout 40s
		}
	}
}
